CVMFS_CLAIM_OWNERSHIP=yes
CVMFS_CACHE_BASE=/cvmfs_shrinkwrap/src-cache
CVMFS_SERVER_URL=http://cvmfs-s1goc.opensciencegrid.org:8001/cvmfs/@fqrn@
CVMFS_HTTP_PROXY=DIRECT
CVMFS_KEYS_DIR=/etc/cvmfs/keys/opensciencegrid.org
CVMFS_SHARED_CACHE=no
CVMFS_CATALOG_WATERMARK=64
CVMFS_MAX_RETRIES=3
CVMFS_TIMEOUT=60
CVMFS_TIMEOUT_DIRECT=60

